alpaca-py==0.44.0
annotated-types==0.8.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
idna==3.20
iniconfig==2.3.0
joblib==1.6.0
msgpack==1.2.2
numpy==1.26.4
packaging==26.3
pandas==3.0.6
pluggy==1.6.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
scikit-learn==1.5.2
scipy==1.12.0
six==1.17.0
sseclient-py==1.9.0
threadpoolctl==3.7.0
tmu==0.8.3
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
websockets==17.1
xxhash==4.0.1
